<!--- factors popup (fapp) --->
<div class="popup pp-std" id="fapp">

    <div class="pp-content w-600 top-20" id="fappContent">

        <div class="pp-close pad-6" id="fappClose">
            <div class="pp-close-icon w-20 h-20">x</div>
        </div>

        <div class="ta-c fw-b fs-16">FACTORES DE IMPORTACIÓN</div>

        <div class="ta-c fw-b fs-15 mt-10 mb-20" id="fappSubtitle"></div>

        <!--- currency --->
        <div class="flex-r jc-c cg-20 mb-15">

            <div class="flex-r cg-5 pad-5-15 bc-10">
                <div class="fw-b">Moneda:</div>
                <div id="fappCurrency"></div>
            </div>

            <div class="flex-r cg-5 pad-5-15 bc-10">
                <div class="fw-b">TC:</div>
                <div id="fappCurrencyExchange"></div>
            </div>
        </div>

        <!--- factors coeficient --->
        <div id="fappFactorsCoeficient">
            <div class="flex-r cg-5 jc-c mt-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Factor de multiplicación:</div>
                <div id="fappCoeficient"></div>
            </div>
        </div>

        <!--- factors volume --->
        <div id="fappFactorsVolume">
            <div class="flex-r jc-c cg-20">
                <div class="flex-r cg-5 jc-c pad-5-15 bc-10 w-fc">
                    <div class="fw-b">Volúmen estándar:</div>
                    <div id="fappStandardVolume"></div>
                </div>
                <div class="flex-r cg-5 jc-c pad-5-15 bc-10 w-fc">
                    <div class="fw-b">Contenedor estándar:</div>
                    <div id="fappStandardContainer"></div>
                </div>
            </div>
            
            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Flete:</div>
                <div id="fappFreight"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Gastos terminal:</div>
                <div id="fappTerminal"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Gastos despacho:</div>
                <div id="fappDispatch"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Gastos agencia marítima:</div>
                <div id="fappMaritimeAgency"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Flete interno:</div>
                <div id="fappDomesticFreight"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-5 w-fc m-a">
                <div class="fw-b">GASTOS POR VOLUMEN:</div>
                <div id="fappVolumeExpenses"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Agente aduana:</div>
                <div id="fappCustomAgent"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Seguro:</div>
                <div id="fappInsurance"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Transferencia:</div>
                <div id="fappTransference"></div>
            </div>

            <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a">
                <div class="fw-b">Derechos de importación:</div>
                <div id="fappImportDuty"></div>
            </div>

        </div>

        <div class="flex-r cg-5 jc-c mt-15 mb-15 pad-5-15 bc-10 w-fc m-a mb-20">
            <div class="fw-b">Margen de venta:</div>
            <div id="fappSalesMargin"></div>
        </div>
</div>