.top--15{
    top:-15px
}
.top-3{
    top:3px
}
.top-5{
    top:5px
}
.top-10{
    top:10px
}
.top-15{
    top:15px
}
.top-20{
    top:20px
}
.top-23{
    top:23px
}
.top-25{
    top:25px
}
.top-27{
    top:27px
}
.top-30{
    top:30px
}
.top-40{
    top:40px
}
.top-50{
    top:50px
}

.top-60{
    top:60px
}

.top-70{
    top:70px
}

.top-80{
    top:80px
}

.top-90{
    top:90px
}

.top-100{
    top:100px
}

.top-120{
    top:120px
}

.top-150{
    top:150px
}

.top-180{
    top:180px
}

.top-200{
    top:200px
}

.top-250{
    top:250px
}

/* top percentage */
.top-50p-{
    top: -50%;
}
.top-0p{
    top: 0%;
}
.top-5p{
    top: 5%;
}
.top-10p{
    top: 10%;
}
.top-15p{
    top: 15%;
}
.top-18p{
    top: 18%;
}
.top-20p{
    top: 20%;
}
.top-23p{
    top:23%
}
.top-25p{
    top:25%
}
.top-27p{
    top:27%
}
.top-30p{
    top: 30%;
}
.top-40p{
    top: 40%;
}
.top-45p{
    top: 45%;
}
.top-55p{
    top: 55%;
}
