<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="fs-18 fw-b mt-25 mb-20 ta-c">LISTA DE ITEMS</div>

<!--- general actions --->
<div class="dgas top-20p r-7p">
    <div class="dga h-35 w-35" id="create">
        <i class="fa-solid fa-plus"></i>
        <div class="dga-info fs-12 top-50p-">
            Crear item
        </div>        
    </div>
</div>

<!--- filters --->
<div class="inputs-row cg-10 mb-25">
    
    <div class="div-input">
        <label class="label-std fs-12 l-3p">Item</label>
        <input type="text" class="input-std w-150 pad-9-0-7-0" id="item">
    </div>
</div>

<!--- table --->
<div class="div-table max-h-450" id="table">

    <!-- table tooltip -->
    <div class="t-tooltip" id="eippInfo">Editar</div>    
    <div class="t-tooltip" id="dippInfo">Eliminar</div>

    <table>
        <thead>
            <tr>
                <th class="th pad-6-0 w-120">ERP</th>
                <th class="th pad-6-0 w-120">Proveedor</th>
                <th class="th pad-6-0 w-120">Lista de precios</th>
                <th class="th pad-6-0 w-50 pointer" id="eippIcon"><i class="fa-regular fa-pen-to-square"></i></th>                
                <th class="th pad-6-0 w-50 pointer" id="dippIcon"><i class="fa-regular fa-trash-can"></i></th>
            </tr>
        </thead>

        <tbody id="body"></tbody>
        
    </table>
</div>

<!----------POPUPS---------->
<%- include('../partials/resultsPopups') %>
<%- include('../partials/confirmPopup') %>

<!----------LOADER---------->
<div class="loader ld-std" id="loader">
    <div class="ld-content ld-main top-55p"></div>
</div>

<!----------SCRIPTS---------->


