<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="fs-18 fw-b mt-25 mb-20 ta-c">MONEDAS</div>

<!--- table --->
<div class="div-table max-h-450" id="table">
    <table>
        <thead>
            <tr>
                <th class="th pad-7-0 w-100">Moneda</th>
                <th class="th pad-7-0 w-120">Tipo de cambio</th>
                <th class="th pad-7-0 w-50 pointer" id="editIcon"><i class="fa-regular fa-pen-to-square"></i></th>                
            </tr>
        </thead>
        <tbody id="body"></tbody>
    </table>
</div>

<!----------POPUPS---------->
<%- include('../partials/resultsPopups') %>
<%- include('../partials/confirmPopup') %>

<!----------LOADER---------->
<div class="loader ld-std" id="loader">
    <div class="ld-content ld-main top-55p"></div>
</div>
