<!----------Confirm popup---------->
<div class="popup pp-std" id="copp">
    
    <div class="pp-content w-600 top-30p" id="coppContent">

        <div class="pp-close pad-6" id="coppClose">
            <div class="pp-close-icon w-20 h-20">x</div>
        </div>

        <div class="ta-c mb-30 lh-1-5 w-85p m-a" id="coppText"></div>       
        
        <div class="flex-r jc-c cg-10 mb-10">
            <div id="coppAccept" class="btn-std w-100 pad-4-0 fs-13">Aceptar</div>
            <div id="coppCancel" class="btn-std w-100 pad-4-0 fs-13">Cancelar</div>
        </div>
    </div>
</div>